html {
    height: 100%;
}

body {
    background: radial-gradient(#26264D, #0e0e1f);
    /*background-image: url('images/starbg.jpg');*/
    background-size: cover;
}

#calc-body {
    max-width: 340px;
    background-color: #FFF;
    border: 1px solid #FFF;
    margin: 20px auto;
    position: relative;
    box-shadow: 0 0 20px #5454e5;
}

.calc-screen {
    background: linear-gradient(#46499C, #6552B0);
    border: 1px solid #FFF;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    height: 110px;
    position: relative;

}

#displays {
    overflow: auto;
    width: 99%;
    height: 94%;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    padding: 15px 20px 0;
    box-sizing: border-box;
    margin-top: 1%;
}

/*#displays::-webkit-scrollbar-track*/
/*{*/
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    /*border-radius: 10px;*/
    /*background-color: #F5F5F5;*/
/*}*/

#displays::-webkit-scrollbar
{
    width: 8px;
    background-color: transparent;
}

#displays::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #10101C;
}

.calc-screen div {
    text-align: right;
    font-family: 'Varela Round', sans-serif;
    text-shadow: 0 0 3px #3D3F85;
    -ms-word-wrap: break-word;
    word-wrap: break-word;

}

#input-display {
    font-size: 1em;
    color: rgba(255,255,255,.5);
}

#result {
    font-size: 2.3em;
    color: #FFF;
    line-height: 1em;

}

.show {
    display: inline-block;
    max-width: 0;
    opacity: 0;
    overflow: hidden;
    animation: showLetter 1s 1;
}

@keyframes showLetter {
    from {
        max-width: 0;
        opacity: 0;
    }
    to {
        max-width: 100%;
        opacity: 1;
    }
}

.buttons {
    background: linear-gradient(#6552B0, #9879C7, #DEA8CF, #FFC9CE);
}

.btn {
    border: 1px solid #FFF;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    margin: 0;
    vertical-align: top;
}

.btn.num {
    width: 25%;
    padding-bottom: 25%;
}

.btn.clear {
    width: 50%;
    padding-bottom: 20%;
}

button {
    position: absolute;
    width: 101%;
    height: 101.5%;
    background-color: transparent;
    font-size: 1.4em;
    font-family: 'Varela Round', sans-serif;
    color: #FFF;
    text-shadow: 0 0 3px #6552B0;
    transition: all .25s;
    border: none;
}

button:hover, button:focus:hover {
    background-color: rgba(255,255,255,.4);
    color: #222340;
    text-shadow: none;
}

button:focus {
    outline: none;

}

button:active, button:active:hover, .activeButton {
    background-color: rgba(255,255,255,.8);
    font-size: 2em;
    color: #222340;

}

.clear button span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.desc {
    font-family: 'Varela Round', sans-serif;
    color: #FFC9CE;
    font-size: .8em;
    text-align: center;
}

.desc a {
    color: #DEA8CF;
    text-decoration: none;

}

.desc a:hover {
    color: #FFF;
    text-decoration: none;
}