html {
    height: 100%;
}

body {
    background: radial-gradient(#10101C, #222340);
}

#calc-body {
    max-width: 340px;
    background-color: #FFF;
    border: 5px solid #FFF;
    border-radius: 12px;
    margin: 20px auto;
    position: relative;
}

.calc-screen {
    background: linear-gradient(#46499C, #6552B0);
    border: 1px solid #FFF;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    height: 100px;
    position: relative;
    border-radius: 12px;

}

#displays {
    position: absolute;
    top: 3%;
    right: 1%;
    overflow: auto;
    width: 98%;
    height: 94%;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    padding: 15px 20px;
    box-sizing: border-box;
}

/*#displays::-webkit-scrollbar-track*/
/*{*/
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    /*border-radius: 10px;*/
    /*background-color: #F5F5F5;*/
/*}*/

#displays::-webkit-scrollbar
{
    width: 8px;
    background-color: transparent;
}

#displays::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #10101C;
}

.calc-screen div {
    text-align: right;
    font-family: 'Varela Round', sans-serif;
    text-shadow: 0 0 3px #3D3F85;
    -ms-word-wrap: break-word;
    word-wrap: break-word;

}

#input-display {
    font-size: 1em;
    color: rgba(255,255,255,.5);
    padding-bottom: 10px;
}

#result {
    font-size: 2.3em;
    color: #FFF;

}

.buttons {
    background: linear-gradient(#6552B0, #9879C7, #DEA8CF, #FFC9CE);
    border-radius: 12px;
}

.btn {
    border: 1px solid #FFF;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    margin: 0;
    vertical-align: top;
}

.btn.num {
    width: 25%;
    padding-bottom: 25%;
}

.btn.clear {
    width: 50%;
    padding-bottom: 18%;
}

.num button, .clear button {
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: none;
    font-size: 1.4em;
    font-family: 'Varela Round', sans-serif;
    color: #FFF;
    text-shadow: 0 0 3px #6552B0;
    transition: all .25s;
}

button:hover {
    background-color: rgba(255,255,255,.4);
    color: #222340;
    text-shadow: none;
}

button:focus {
    outline: none;
    border: none;
    background-color: rgba(255,255,255,.3);
    color: #222340;
    text-shadow: none;

}